{% load staticfiles %}

<html>

<head>
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>



 <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form method="post" action=".">
                {% csrf_token %}
                      <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
					<input type="submit" name="Login" class="login loginmodal-submit" value="Login">
				  </form>

				  <div class="login-help">
					<a href="{% url 'register' %}" class="button">Register</a></a>
				  </div>
				</div>
			</div>













