
{% for obj in chat %}
    {% if obj.user == request.user %}
        <li class="text-right list-group-item">Ja: {{ obj.message }}</li>
    {% else %}
        <li class="text-left list-group-item">{{ obj.user.username }}: {{ obj.message }}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}
