{% load staticfiles %}

<html>

<head>
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
    </script>
</head>
<div class="modal-dialog">
    <div class="loginmodal-container">
        {% block content %}
            <h1>Utwórz konto</h1>
            <p>Wypełnij poniższy formularz, aby się zarejestrować:</p>

            <form id="user_form" action="." method="post">
                {% for field in user_form %}

    <div class="fieldWrapper">
        {{ field.errors }}
        {% if field.name == 'username' %}
            {{ field.label_tag }} {{ field }}
                       <center><input type='button' class="login loginmodal-submit" id='check_username_availability' value='Check Availability'>
<div id='username_availability_result'></div></center>


    {% else %}
        {{ field.label_tag }} {{ field }}
    {% endif %}
    </div>
                {% endfor %}

                {% csrf_token %}
                <p><input type="submit" value="Utwórz konto" class="login loginmodal-submit"></p>
            </form>
        {% endblock %}
    </div>
</div>

<script>
$(document).ready(function() {

        var min_chars = 3;
        var characters_error = 'Minimum amount of chars is 3';
        var checking_html = 'Checking...';

        $('#check_username_availability').click(function(){
            if($('#id_username').val().length < min_chars){
                $('#username_availability_result').html(characters_error);
            }else{
                $('#username_availability_result').html(checking_html);
                check_availability();
            }
        });

  });

function check_availability(){

    var username = $('#id_username').val();
    $.ajax({
    type: 'POST',
    url: "/check_username_availability/",
    data: {
        'username': username,
        'csrfmiddlewaretoken':"{{ csrf_token }}"
    },
    success: function(result){
                if(result.exist == true){
                    $('#username_availability_result').html(username + ' is Available');
                }else{
                    $('#username_availability_result').html(username + ' is not Available');
                }
    }});
}

</script>
