{% load staticfiles %}

<html>

<head>
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'chat.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<div class="modal-dialog">
    <div class="loginmodal-container">
        {% block content %}
            <h1>Witaj, {{ new_user.username }}!</h1>
            <center><p>Twoje konto zostało utworzone. Możesz się już <a
                    href="{% url "login" %}" class="button">zalogować</a></p></center>
        {% endblock %}
    </div>
</div>
